<html>
    <head></head>
    <title>Check Details</title>
    <body>
         <form action="/details" method="POST">
        <label for="name">First name:</label><br>
        <input type="text" id="name" name="name" value="John"><br>
        <input type="submit" value="Submit">
        </form> 

        <a href="/home"><button type="button">Home</button> </a>
    </body>
</html>