<html>
    <head></head>
    <title>This is entry page</title>
    <body>
         <form action="/entry" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" ><br>

        <label for="model">Model:</label><br>
        <input type="text" id="model" name="model"><br>

        <label for="phoneNumber">Phone Number(10 digits):</label><br>
        <input type="text" id="phoneNumber" name="phoneNumber" ><br>

        <label for="date">Date(DD/MM/YYYY)</label><br>
        <input type="text" id="date" name="date" ><br><br>
        <input type="submit" value="Submit">
        </form> 
        
        <a href="/home"><button type="button">Home</button> </a>
    </body>
</html>