<html>
    <head></head>
    <title>Successfull Entry</title>
    <body>
        <H1>Your entry is Successfully created</H1>
          <a href="/entry"><button type="button">Make A Entry</button> </a>

         <a href="/details"><button type="button">View Details</button> </a>

    </body>
</html>